{% if articleExchange|length > 0  %}
<section class="list-new2-2" id="featuredlNews">
    <h2 class="title-30 mg-top-24">Featured Stories </h2>
    <ul class="list-news-d2">
        {% for key, item in articleExchange %}
            <li {{ loop.index % 3 == 1 ? "class='clear'" : "" }}>
                <a title="{{ item.title }}" href="{{ item.url }}" class="img-sp">
                    <img src="{{ item.avatar }}" alt="{{ item.title }}">
                </a>
                <div class="info-car">
                    <h3 class="list-title"><a href="{{ item.url }}" class="name-pro" title="{{ item.title }}">{{ item.title }}</a></h3>
                    <span class="date-creat"> <i class="icon-clock"></i> {{ item.s_publish_time }}</span>

                </div>
            </li>
        {% endfor %}
    </ul>
</section><!--end -list-new2-2-->
{% endif %}