<div id="footer">
    <div class="main">
        <a href="{{ path('index') }}" title="{{ home_title }}"><img src="/images/logo-f.png" alt="{{ home_title }}" /></a>
        <p class="million">Serves 50+ million views a year</p>

        <div class="footer-top">
            <ul>
                <li><a href="{{ path('about') }}" title="About Us" rel="nofollow"><i class="icon-right-open-big"></i> About Us</a></li>
                <li><a href="{{ path('contact') }}" title="Contact" rel="nofollow"><i class="icon-right-open-big"></i> Contact</a></li>
                <li><a href="{{ path('privacy_policy') }}" title="Privacy Policy" rel="nofollow"><i class="icon-right-open-big"></i> Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <h2 class="title-13">As featured on</h2>
            <ul class="list-logo">
                <li>
                    {#<a rel="nofollow" title="autocarindia.com" target="_blank" href="https://www.autocarindia.com/">#}
                        <img src="/images/logo1.png" alt="autocarindia.com"/>
                    {#</a>#}
                </li>
                <li>
                    {#<a rel="nofollow" title="newsweek.com" target="_blank" href="https://www.newsweek.com/">#}
                        <img src="/images/logo2.png" alt="newsweek.com" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="https://cnn.com/" target="_blank" rel="nofollow" title="cnn.com">#}
                        <img src="/images/logo3.png" alt="cnn.com" />
                    {#</a>#}
                </li>
                <li class="last">
                    {#<a rel="nofollow" href="https://timesofindia.indiatimes.com/" target="_blank" title="timesofindia.indiatimes.com">#}
                        <img src="/images/logo4.png" alt="timesofindia.indiatimes.com" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="https://www.foxnews.com/" rel="nofollow" title="foxnews.com" target="_blank">#}
                        <img src="/images/logo5.png" alt="foxnews.com" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="http://www.chinadaily.com.cn/" rel="nofollow" title="chinadaily.com.cn" target="_blank">#}
                        <img src="/images/logo6.png" alt="chinadaily.com.cn" />
                    {#</a>#}
                </li>
                <li>
                    {#<a href="https://www.nytimes.com/" target="_blank" rel="nofollow" title="nytimes.com">#}
                        <img src="/images/logo7.png" alt="nytimes.com" />
                    {#</a>#}
                </li>
                <li class="last">
                    {#<a title="autobild.de" href="https://www.autobild.de/" rel="nofollow" target="_blank">#}
                        <img src="/images/logo8.png" alt="autobild.de" />
                    {#</a>#}
                </li>
            </ul>

        </div>

    </div>
    <div class="copy"><p class="copyright text-center">Copyright © 2008-2018 Indian Autos blog</p></div>
</div>